In [1]:
#importing pandas before uploading my raw data 
import pandas as pd

In [2]:
#checking pandas version to add to my requirements file 

pd.__version__

'2.2.1'

In [4]:
data_path = "../data/raw/bank-additional-full.csv"
raw_bank_df = pd.read_csv(data_path)

In [5]:
#the initial issue is that all the data is in one column and row. 
#will first split the column names: 
one_initial_column = raw_bank_df.columns
column_names = one_initial_column[0].split(';')

In [6]:
def clean_string(input_string):
    """
    Defining a function to clean non-alphabetic characters but replace '.', ' ', with '_'
    then will use map to apply the function 
    """
    cleaned_string = ""
    for char in input_string:
        if char.isalpha() or char.isdigit() or char in ['.', ' ', '_']:
            cleaned_string += char
    
    cleaned_string = cleaned_string.replace('.','_').replace(' ','_')
    return cleaned_string

#applying the function to each elemen in column_names to finalise the formatting 
     
cleaned_column_names = list(map(clean_string, column_names))
print(f"cleaned column names are {cleaned_column_names}")

cleaned column names are ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y']

In [7]:
#assigning the current one column name as the_column for easier applicaiton 

the_column = 'age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'

In [8]:
#creating my data frame with these column names and corresponding values, original values were all 
#under one column. Using slicing to create my data frame 

new_data = []
for index, row in raw_bank_df.iterrows():
    values = row[the_column].replace('"',"").split(';')
    row_dict = dict(zip(cleaned_column_names, values))
    new_data.append(row_dict)

new_raw_bank_df = pd.DataFrame(new_data)

In [9]:
#checking for null values, no null 
new_raw_bank_df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [10]:
#some numeric data have incorrect data type, will be changing accordingly: 

numeric_columns = ["age", "duration", "pdays", "previous",
                   "emp_var_rate", "cons_price_idx","cons_conf_idx",
                   "euribor3m", "nr_employed"
                  ]
for column in numeric_columns:
    new_raw_bank_df[column] = new_raw_bank_df[column].astype(float)